body {
    background: #fff;
    font-family: "Gentium Book Basic", "Georgia", serif;
    font-size: 16px;
    padding-top: 100px;
}

a {
    color: #333;
    border-bottom: 1px solid #aaa;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.5em;
}

.container {
    width: 790px;
    margin: auto;
}

.container-larger {
    max-width: 1000px;
    margin: auto;
}

.sectional {
    margin-top: 30px;
    padding-top: 30px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    background: #333;
    color: #eee;
    font-size: 20px;
}

.navbar a {
    color: #eee;
    text-decoration: none;
    border-bottom: 1px solid #aaa;
}

.title {
    font-size: 3em;
    color: #333;
}

.subtitle {
    font-size: 2em;
    color: #666;
}

.footer {
    border-top: 1px solid #eee;
    color: #666;
}

.pull-right {
    float:right;
}

.servery-image {
    width: 260px;
    height: 260px;
    float: left;
    margin: 0 5px 5px 0;
    background: #eee;
    background-size: cover;
    background-position: center;
}

.servery-image a {
    height: 100%;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.servery-image a:hover {
    background: rgba(100, 100, 100, 0.1);
}

.servery-image div {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.servery-image:nth-child(3n) {
    margin-right: 0;
}

.clearfix {
    clear: both;
}

.baker {
    background-image: url('img/baker.jpg');
}

.north {
    background-image: url('img/north.jpg');
}

.east {
    background-image: url('img/east.jpg');
}

.south {
    background-image: url('img/south.jpg');
}

.west {
    background-image: url('img/west.jpg');
}

.sid {
    background-image: url('img/sid.jpg');
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td, th {
    padding: 10px;
    border-top: 1px solid #ccc;
}

.table-header {
    color: #333;
    font-weight: bold;
}

.table td:nth-of-type(odd),
.table th:nth-of-type(odd){
    background:rgba(100, 100, 100, 0.1);
}

.vegan {
    background: rgba(100, 200, 100, 0.3);
}

.vegetarian {
    background: rgba(100, 100, 200, 0.3);
}

.table-day {
    width: 14.5%;
}