<!DOCTYPE html>
<html>
<head>
    <title>Rice Foodback</title>
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='{{url_for('static', filename='index.css')}}' />
</head>
<body>
    <div class='navbar'>
        <div class='container'>
            <a href='/'>Rice Foodback</a>

            <div class='pull-right'>
                <a href='#'>Login</a>
            </div>
        </div>
    </div>

    {{ content|safe }}

    <div class='container footer sectional'>
        Made at <a href='http://hack.rice.edu'>hack.rice</a> 2013
    </div>

    <div class='container sectional'>
        temp
        <!-- TEMP links for convinience-->
        <a href='/student'>Student</a> &middot;
        <a href='/chef'>Chef</a>
    </div>
</body>
</html>