<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='{{url_for('static', filename='index.css')}}' />
</head>
<body>
    <div class='navbar'>
        <div class='container'>
            <a href='#'>Rice FoodBack</a>

            <div class='pull-right'>
                <a href='#'>Login</a>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='title'>
            FoodBack that shit
        </div>
        <div class='subtitle'>
            Let the servery know what sucks.
        </div>
    </div>

    <!-- Pick a servery -->
    <div class='container sectional'>

        <div class='servery-image north'>
            <a href='#'>
                <div>
                    North
                </div>
            </a>
        </div>
        <div class='servery-image east'>
            <a href='#'>
                <div>
                    East
                </div>
            </a>
        </div>
        <div class='servery-image west'>
            <a href='#'>
                <div>
                    West
                </div>
            </a>
        </div>
        <div class='servery-image baker'>
            <a href='#'>
                <div>
                    Baker
                </div>
            </a>
        </div>
        <div class='servery-image south'>
            <a href='#'>
                <div>
                    South
                </div>
            </a>
        </div>
        <div class='servery-image sid'>
            <a href='#'>
                <div>
                    Sid
                </div>
            </a>
        </div>
        <br class='clearfix'>
    </div>

    <div class='container footer sectional'>
        Made at <a href='http://hack.rice.edu'>hack.rice</a> 2013
    </div>
</body>
</html>
