{% extends "default.html" %}
{% block content %}
<div class='container'>
    <h1>Rate North Servery</h1>
    <p>
        <div class='pull-right'><a href='#'>Next week</a> &rsaquo;</div>
        &lsaquo; <a href='#'>Previous week</a>
    </p>
    <table class='table'>
        <tr>
            <td colspan='7' class='table-header'>
                Lunch Menus
            </td>
        </tr>
        <tr>
            <th class='table-day'>Monday <br> (Feb 11)</th>
            <th class='table-day'>Tuesday <br> (Feb 12)</th>
            <th class='table-day'>Wednesday <br> (Feb 13)</th>
            <th class='table-day'>Thursday <br> (Feb 14)</th>
            <th class='table-day'>Friday <br> (Feb 15)</th>
            <th class='table-day'>Saturday <br> (Feb 16)</th>
            <th class='table-day'>Sunday <br> (Feb 17)</th>
        </tr>
        <tr>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Vegan</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
        </tr>
        <tr>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Veggies</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
        </tr>
        <tr>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos Double row noooo</td>
            <td></td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
        </tr>
        <tr>
            <td></td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td></td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
        </tr>
        <tr>
            <td colspan='7' class='table-header'>
                Dinner Menus
            </td>
        </tr>
        <tr>
            <th class='table-day'>Monday <br> (Feb 11)</th>
            <th class='table-day'>Tuesday <br> (Feb 12)</th>
            <th class='table-day'>Wednesday <br> (Feb 13)</th>
            <th class='table-day'>Thursday <br> (Feb 14)</th>
            <th class='table-day'>Friday <br> (Feb 15)</th>
            <th class='table-day'>Saturday <br> (Feb 16)</th>
            <th class='table-day'>Sunday <br> (Feb 17)</th>
        </tr>
        <tr>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Vegan</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
        </tr>
        <tr>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Veggies</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
        </tr>
        <tr>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td></td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
        </tr>
        <tr>
            <td></td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
            <td></td>
            <td>Lorem Tacos</td>
            <td>Lorem Tacos</td>
        </tr>
    </table>
</div>
{% endblock %}